.App-main {
  max-width: 75%;
  min-width: 20%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #f6f6f6;
}

.App-main-header-h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.App-main-div {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  place-content: center;
}

.App-aside {
  background-color: #f6f6f6;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separador {
  width: 2px;
  height: 100%;
  background-color: #d5d5d5;
}