@font-face {
  font-family: 'Proxima Soft';
  src: url('/src/assets/fonts/ProximaSoft-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#root {
  display: flex;
  height: 100vh;
}

main {
  max-width: 75%;
  min-width: 20%;
  height: 100%;
}

aside {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separador {
  width: 2px;
  height: 100%;
  background-color: #d5d5d5;
}