@font-face {
  font-family: 'Proxima Soft';
  src: url('/src/assets/fonts/ProximaSoft-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#root {
  display: flex;
  height: 100vh;
}

main {
  max-width: 75%;
  min-width: 20%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.titulo-lienzo {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.lienzo {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 30px);
  place-content: center;
}

aside {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separador {
  width: 2px;
  height: 100%;
  background-color: #d5d5d5;
}